* {
	box-sizing: border-box;
}

html {
	color: white;
	background: #000;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
	@apply font-pixel font-bold;
}

h2 {
	@apply py-5 text-5xl;
}

h3 {
	@apply text-3xl font-bold;
}

a:not([class]) {
	@apply border-b-2 border-transparent;
	&:hover {
		@apply border-current;
	}
}

.nav-anchor {
	@apply invisible absolute -top-14;
}
