---
import Layout from '../layouts/Layout.astro'
import Header from '../components/organisms/Header.astro'
import Hero from '../components/organisms/Hero.astro'
import Projects from '../components/organisms/Projects.astro'
---

<Layout title="Laurent-Philippe Caron | Développeur Front-End">
	<Header />
	<Hero />
	<Projects />

	<div class="container mx-auto my-40">
		<!--Boite de dialogue -->
		<div class="bg-ff7">
			<!-- profil image-->
			<div></div>
			<!-- Body-->
			<div>
				<!-- Name Tag-->
				<p>Laurent-P.</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, saepe, autem alias
					inventore ipsa nihil expedita, deleniti cupiditate consequuntur dolorem ullam maxime.
					Nobis eligendi tenetur delectus natus? Tenetur, corporis autem. Expedita sequi iusto et
					voluptatem explicabo quidem! Ad, iste. Corrupti asperiores nostrum libero harum dolore!
					Alias accusamus illo consequatur voluptas sapiente neque quam ea! Reprehenderit nemo
					maiores officiis repellendus esse.
				</p>
			</div>
		</div>
	</div>
</Layout>

<style lang="scss" scoped></style>
