---
import Layout from '../layouts/Layout.astro';
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from '../i18n/utils';
import languages from '../i18n/languages';
import Header from '../components/organisms/Header.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title="Welcome to Astro.">
  <Header />
  <div class="overflow-hidden">
    <div class="bg-image h-screen bg-fixed"></div>
  </div>

  <!-- <p>langue: {lang}</p>
  <p>UI:{t('ui.test')}</p>
  <p>Hero:{t('hero.test')}</p>

  <ul>
    {
      Object.entries(languages).map(([lang, label]) => (
        <li>
          <a href={translatePath('/', lang)}>{label}</a>
        </li>
      ))
    }
  </ul> -->
</Layout>

<style lang="scss" scoped>
  .bg-image {
    width: 5760px;
    background: url('../img/hero-bg.png') repeat-x;
    animation: slide-bg 60s linear infinite;
  }

  @keyframes slide-bg {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1920px, 0, 0);
    }
  }
</style>
