---
const { label } = Astro.props
---

<span class="tag">{label}</span>
<style lang="scss">
	.tag {
		padding: 0.5rem 1.5rem 0.5rem 0.6rem;
		background: gray;
		font-size: 0.75rem;
		font-weight: bold;
		clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	}
</style>
