---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { class: className } = Astro.props
---

<div class={className}>
	<div
		class="text-shadow flex min-h-96 flex-col justify-between border-4 border-black border-l-orange-300 border-t-orange-300 bg-[#DE421C] p-3 text-orange-300"
	>
		<div class="flex justify-between">
			<span class="square"></span>
			<span class="square"></span>
		</div>
		<p class="text-6xl md:text-6xl">Laurent-Philippe Caron</p>
		<p class="text-8xl md:text-9xl" set:html={t('hero.titreEmploie')} />
		<div class="flex justify-between">
			<span class="square"></span>
			<span class="square"></span>
		</div>
	</div>
	<p class="w-full place-content-start text-end text-2xl text-white">
		©{new Date().getFullYear()} Laurent-P. Caron
	</p>
</div>

<style lang="scss">
	.text-shadow {
		text-shadow: 0px 5px black;
	}
	.square {
		@apply block h-2 w-2 border-4 border-black border-l-orange-300 border-t-orange-300 bg-[#DE421C];
	}
</style>
