---

---

<div class="bg-zinc-800 px-2 py-5">
	<div class="container mx-auto flex flex-col items-center justify-between gap-y-2 md:flex-row">
		<p>© Laurent-Philippe Caron, {new Date().getFullYear()}</p>
		<p>
			Illustrations: <br class="md:hidden" />
			<a href="https://www.endless-fantasy-art.com/" target="_blank" rel="noopener noreferrer"
				>Endless Fantasy Art</a
			>, <a href="https://craftpix.net/" target="_blank" rel="noopener noreferrer">Craftpix.net</a> &
			<a href="https://fontawesome.com" target="_blank" rel="noopener noreferrer">Font Awesome</a>
		</p>
	</div>
</div>

<style>
	p {
		@apply text-center;
	}
	a {
		@apply underline hover:border-0;
	}
</style>
