---
import BurgerMenu from '../molecules/BurgerMenu.vue';
import Nav from '../molecules/Nav.astro';

const nav = {
  internal: [
    { label: 'Projets', href: '#projects' },
    { label: 'À propos de moi', href: '#about' },
    { label: 'Me contacter', href: '#contact' },
  ],
  external: [
    { label: 'LinkedIn', href: '#projects', icon: 'fa-brands fa-linkedin-in' },
    { label: 'Git Hub', href: '#about', icon: 'fa-brands fa-github' },
    { label: 'Couriel ', href: '#contact', icon: 'fa-solid fa-envelope' },
  ],
};
---

<header class="bg-black w-full h-14 px-4 py-2 fixed top-0 text-white z-10">
  <nav class="h-full flex justify-between items-center container mx-auto">
    <div class="flex items-center w-full gap-5">
      <a class="flex items-center gap-5" href="#">
        <img
          class="h-10"
          src="https://www.trashedgraphics.com/wp-content/uploads/2012/02/default_icon-778x584.jpg"
          alt=""
        />
        <p class="hidden md:block">Laurent-Philippe Caron</p>
      </a>

      <Nav class="hidden md:block" nav={nav.internal} />
      <Nav class="hidden md:block ml-auto" nav={nav.external} />
      <BurgerMenu
        class="md:hidden ml-auto"
        client:visible
        internals={nav.internal}
        externals={nav.external}
      />
    </div>
  </nav>
</header>
