---
import Tag from '../atoms/Tag.astro';
import Card from '../molecules/Card.astro';
---

<div class="container mx-auto grid grid-cols-1 gap-5">
  <Card />
  <Card />
</div>

<!-- -->

<style lang="scss" scoped></style>
